#addTask-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0 25px 25px 0;
    position: fixed;
    min-height: 100%;
    min-width: 20%;
    padding: 80px 44px;

    right: 0;
}