#editTask-form .input-label {
    font: var(--label2);
    margin-bottom: 0.5rem;
    border-radius: 25px;
}

#edit-popup {
    width: 21rem;
    border-radius: 25px;
    padding: 1.2rem 2rem;

    display: none;
}

#edit-popup.active {
    display: flex;
    flex-direction: column;
}

#edit-popup h3 {
    margin-bottom: 1.2rem;
}