#editTask-form .input-label {
    font: var(--label2);
    margin-bottom: 0.5rem;
    border-radius: 25px;
}

#edit-popup {
    min-width: 21rem;
    max-width: fit-content;
    display: none;
}

#edit-popup.active {
    display: block;
}

#edit-popup h3 {
    margin-bottom: 1.2rem;
}