button {
    min-height: 44px;
    padding: 0 1.5rem;
    border-radius: 25px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.saveBtn {
    background-color: var(--cream);
    color: var(--black);
}

.save-btn:hover {
    background-color: var(--black);
    color: var(--cream);
    border: 2px solid var(--cream);
}

.editTask-btn {
    background-color: var(--black);
    color: var(--cream);
}

.editTask-btn:hover {
    background-color: var(--cream);
    color: var(--black);
    border: 2px solid var(--black);
}

.dangerZone-btn {
    background: none;
    color: var(--red);
    border: 2px solid var(--red);
}

.dangerZone-btn:hover {
    background-color: var(--red);
    color: var(--cream);
}

input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    border-radius: 25px;
    accent-color: #4EA05D;
    cursor: pointer;
}