.container {
    border-radius: 25px;
    padding: 1.5rem 2.5rem;
    display: block;
}

.container-section {
    max-width: 100%;
}

@media screen and (max-width: 500px){
    .container {
        padding: 1rem 1.5rem;
    }
}