#tasktodo-section {
    background-color: var(--gray);
}

#taskdone-section {
    background-color: var(--light-green);
}

.task-section {
    padding: 1.5rem 2.5rem;
    margin-top: 2rem;
    width: 100%;

}

.task-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: start;
}